<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/php/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/php/Integration</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>tests/php/E2E</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">public/includes</directory>
            <directory suffix=".php">public/api</directory>
            <directory suffix=".php">public/admin</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </source>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
